body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: green;
}

.center-container {
  text-align: center;
}

.carta {
  width: 150px;
  height: 220px;
  background-color: white;
  border: 1px solid #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.numero {
  font-size: 48px;
  font-weight: bold;
  line-height: 100px; /* Establecer la altura igual a la altura de la carta */
}

.palo {
  font-size: 48px;
}
